<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Calculator</title>
</head>
<body>

<h2>Enter expression</h2>
<br>
<form th:action="@{/result}" th:method="POST" th:object="${expression}">
    <label for="a">Enter value a:
        <input type="number" th:field="*{a}" id="a" />
    </label>
    <br>
    <br>

    <label for="action">Enter action: &nbsp;
        <select id="action" th:field="*{action}">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="/">/</option>
            <option selected="" value="*">*</option>
        </select>
    </label>
    <br>
    <br>

    <label for="b">Enter value b:
        <input type="number" th:field="*{b}" id="b" />
    </label>
    <br>
    <br>

    <input type="submit" value="Calculate"/>
</form>

</body>
</html>